{% extends "include/base.html" %}
{% load static %}

{% block Header %}
  {{ movie.name }}
{% endblock %}

{% block body %}
        <!--<< Movie Details Section Start >>-->
        <section class="movie-details-section section-padding pb-0">
            <div class="container-fluid">
                <div class="movie-details-wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="movie-details-image">
                                <img src="{{ movie.background_image.url }}" alt="img">
                                <a href="{{ movie.video_link }}" class="video-btn ripple video-popup">
                                    <i class="fa-solid fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xl-8">
                            <div class="movie-details-content">
                                <div class="description-content">
                                    <h3>Description</h3>
                                    <span>{{ movie.name }}</span>
                                    <ul class="description-list">
                                        <li>{{ movie.year }}</li>
                                        <li>{{ movie.duration }}</li>
                                        <li>
                                            <span class="star">
                                                <!-- IMDB Rating as stars -->
                                                {% with imdb_full_stars=movie.imdb_rating|floatformat:0 %}
                                                    {% for i in "01234"|slice:":imdb_full_stars" %}
                                                        <i class="fa-solid fa-star"></i>
                                                    {% endfor %}
                                                    {% if imdb_full_stars < movie.imdb_rating %}
                                                        <i class="fa-solid fa-star-half-stroke"></i>
                                                    {% endif %}
                                                    {% for i in "01234"|slice:":5|add:'-imdb_full_stars'" %}
                                                        <i class="fa-regular fa-star"></i>
                                                    {% endfor %}
                                                {% endwith %}
                                            </span>
                                        </li>
                                    </ul>
                                    <p>{{ movie.description }}</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 mt-4 mt-xl-0">
                            <div class="movie-sidebar">
                                <div class="single-sidebar-widget">
                                    <div class="wid-title">
                                        <h5>Released Year</h5>
                                    </div>
                                    <h4 class="date-text">{{ movie.year }}</h4>
                                </div>

                                <div class="single-sidebar-widget">
                                    <div class="wid-title">
                                        <h5>Ratings</h5>
                                    </div>
                                    <div class="row g-4">
                                        <div class="col-lg-6">
                                            <div class="rating-box">
                                                <h4>IMDb</h4>
                                                <div class="star">
                                                    {% with imdb_full_stars=movie.imdb_rating|floatformat:0 %}
                                                        {% for i in "01234"|slice:":imdb_full_stars" %}
                                                            <i class="fa-solid fa-star"></i>
                                                        {% endfor %}
                                                        {% if imdb_full_stars < movie.imdb_rating %}
                                                            <i class="fa-solid fa-star-half-stroke"></i>
                                                        {% endif %}
                                                        {% for i in "01234"|slice:":5|add:'-imdb_full_stars'" %}
                                                            <i class="fa-regular fa-star"></i>
                                                        {% endfor %}
                                                    {% endwith %}
                                                    {{ movie.imdb_rating }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="rating-box">
                                                <h4>Streamvibe</h4>
                                                <div class="star">
                                                    {% with streamvibe_full_stars=movie.streamvibe_rating|floatformat:0 %}
                                                        {% for i in "01234"|slice:":streamvibe_full_stars" %}
                                                            <i class="fa-solid fa-star"></i>
                                                        {% endfor %}
                                                        {% if streamvibe_full_stars < movie.streamvibe_rating %}
                                                            <i class="fa-solid fa-star-half-stroke"></i>
                                                        {% endif %}
                                                        {% for i in "01234"|slice:":5|add:'-streamvibe_full_stars'" %}
                                                            <i class="fa-regular fa-star"></i>
                                                        {% endfor %}
                                                    {% endwith %}
                                                    {{ movie.streamvibe_rating }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="single-sidebar-widget">
                                    <div class="wid-title">
                                        <h5>Genres</h5>
                                    </div>
                                    <ul class="languages-list">
                                        {% for genre in movie.genres.all %}
                                            <li><a href="{% url 'movie_detail' slug=movie.slug %}">{{ genre.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
{% endblock %}
